@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}



@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 900;
  src: local('Barlow Black'), local('Barlow-Black'), url(https://fonts.gstatic.com/s/barlow/v1/8xTtwcTHLrNmXC4s80ier1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: local('Barlow Regular'), local('Barlow-Regular'), url(https://fonts.gstatic.com/s/barlow/v1/m4mkzFgzyAU93qx0-DUx_Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: local('Barlow Bold'), local('Barlow-Bold'), url(https://fonts.gstatic.com/s/barlow/v1/8hNuYABG6RcCB7awZe-wJ1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


html {
  font-size: 16px;

}

body {
  font-family: "Roboto", sans-serif;
  margin:0;
}

.big-container {
  margin: 0 auto;
  width:1024px;
  border: 1px solid #aaaaaa;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: rgb(0,100,255);
}

h2 {
 margin-bottom: 2rem;
 display: block;
 width:100%;
 font-size: 2.5rem;
 font-weight: 900;
 color: #444444;
}

h3 {
margin-bottom: 2rem;
 display: block;
 width:100%;
 font-size: 1.5rem;
 font-weight: 700;
 color: #444444;
}

h5 {
 font-size:.8rem;
 margin-bottom: 2rem;
 line-height: 1.4;
}

#masthead {
  display: flex;
  position: fixed;
  width:100%;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #444444;
  background-color: white;
  top:0rem;
  z-index: 50;
  background-color: white;
}

#mini-masthead {
  visibility: hidden;
  position: absolute;
}

.logo {
  display: flex;
  align-content: center;

  width:25%;
  height: 2rem;



  }

.logo img {
  display: inline-block;
  height: 2rem;
  margin-left: 1.5rem;
}

.logo p {
  font-family: "Barlow";
  font-size: 1.5rem;

  text-transform: uppercase;
  color:#aaaaaa;
}

.logo span {
  font-family: "Barlow";
  font-weight: 700;
  color: #444444;
  position:relative;
}

.menu a {
  font-size: 1.25rem;
  color:#444444;
  text-decoration: none;
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-right: 1.5rem;
}

.menu li {
  display: inline-block;
  padding: .5rem;
}

@media only screen and (max-width:1024px) {
#masthead {
  visibility: hidden;
  position: absolute;
}

#mini-masthead {
  visibility: visible;
  display:flex;
  position: fixed;
  width:100%;
  height:4rem;
  background-color: white;
  justify-content: space-around;
  align-items: center;

}
#mini-masthead img {
  height:2rem;
  width:2rem;
}
}

.banner {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  width:100%;
  background-color: #aaaaaa;
  top:4rem;
}

.mini-banner {
  visibility: hidden;
  position: absolute;
}

.banner-pic {
  display: block;
  position: relative;
  padding: 2rem 1.5rem 2rem 1.5rem;
  width: 60%;
  height:60%;
}

.banner-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width:40%;
  height: auto;
}

.banner img {
  display: inline-block;
  position: relative;
  width: 100%;
  height:auto;
}

.banner a {
  display: block;
  width: 16rem;
  text-align: center;
  background-color:#444444;
  color:white;
  font-size: 1rem;
  text-decoration: none;
  padding: .5rem 2rem;
  border-radius: 0.25rem;
  border: 1px solid white;
  transition-property: background-color;
  transition-duration: 200ms;
}

.banner a:hover {
  color:black;
  background-color: #aaaaaa;
}

@media only screen and (max-width:1024px) {
  .banner {
    visibility: hidden;
    position: absolute;
  }

  .mini-banner {
    visibility: visible;
    display: flex;
    position:relative;
    margin-top: 65px;
    width:100%;
    height:auto;
    background-image: url('/images/banner.jpg');
    }

   .mini-banner img {




   }
}
.sect-two-container {
  display: flex;
  position: relative;
  width:64rem;
  height:auto;
  margin-top: 2rem;
}

.sect-two-leftside {
  display:flex;
  flex-direction: column;
  position: relative;
  width:38.4rem;
  height:auto;
  margin-top: 4rem;
  padding-left: 1.5rem;
}

.sect-two-leftside img {
  display:inline-block;
  width:36.625rem;
  height:auto;
  margin-bottom: 2rem;
}

p {
  font-family: "roboto";
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 1.5rem;
}

.sect-two-rightside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:40%;
  border-left: 1px solid #aaaaaa;
  margin-left: 1rem;
  margin-top:2rem;
}

.sect-two-rightside-info-box {
  display: flex;
  align-items: flex-end;
  width:100%;
  height:30%;
}

.sect-two-rightside-info-box img {
  display:inline-block;
  width: 35%;
  height: 35%;
  padding: 1rem;
}

.info-box {
  display: inline-block;
  width:65%;
  height:30%;
}

.info-image-text-container {
  display: flex;
  align-items:center;
  width: 100%;
}


.sect-two-rightside-info-box h3,
.sect-two-rightside-info-box h5 {
  margin-bottom: .5rem;

}

.gray-background {
  background-color: #aaaaaa;
}



.info1 {
  border-bottom: 1px solid #aaaaaa;
  }

.info3,
.info2 {
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;

}

@media only screen and (max-width:1024px) {
  .sect-two-container {
    visibility: hidden;
    position: absolute;
  }
}
.sect-three-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  height:auto;
  background-color: #aaaaaa;
}

.sect-three-container h2 {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.all-courses-grid {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width:55rem;
  height: auto;
  margin-bottom: 2rem;

 }


.course-choice {
  display:inline-block;
  flex-direction: column;
  width: 17rem;
  margin-bottom: 2rem;



}

.course-choice img {
  width:17rem;
  height:auto;
}
.course-choice-text {
  height:7rem;
  padding: 1rem 1rem 1.5rem 1rem;
  background-color: white;
}

.course-choice-text h3,
.course-choice-text h5 {
  margin-bottom: .5rem;
}

@media only screen and (max-width:1024px) {
  .sect-three-container {
    visibility: hidden;
    position: absolute;
  }
  .thesis {
    visibility: hidden;
    position: absolute;
  }
}

.thesis {
  text-align: center;
  width:64rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.sect-four-container {
  display: flex;
  width:100%;
  height: auto;
  margin-bottom: 2rem;

}

.sect-four-left {
  display:inline-flex;
  flex-direction: column;
  width:60%;
  height:auto;
  padding-left: 2rem;
  padding-right: 2rem;

}

.sect-four-right {
  display:inline-flex;
  flex-direction: column;
  width:40%;
  height:auto;
}

.sect-four-left h3 {

  margin-bottom: .5rem;
}

.sect-four-left p {
  margin-bottom: 2rem;
  line-height: 1.4;
}



.sect-four-container video {
  display:inline-block;
  margin-bottom:1.5rem;
}

.footer {
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #aaaaaa;
}

.footer h5 {
  display:inline-block;
  width:auto;
  margin: 1rem 1.5rem 2rem 1.5rem;
}

.sect-four-right-thesisbox {
  display: flex;
  width:100%;
  }

.thesis-container {
  display: flex;

  width:100%;
}


.ny-thesis {
  margin-top: 1rem;
}
@media only screen and (max-width:1024px) {
  .sect-four-container {
    visibility: hidden;
    position: absolute;
  }

  .footer {
    visibility: hidden;
    position: absolute;
  }
